<h1>Showing article details</h1>

<P><strong>Title: </strong><%= @article.title %></P>
<P><strong>Description: </strong><%= @article.description %></P>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Detele', article_path(@article), method: :delete, data: {confirm: "Are you sure?"} %> |
<%= link_to 'Return the articles listing', articles_path %>